@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-main {
    @apply lg:flex justify-center lg:p-20 md:p-10 lg:text-lg text-base min-h-screen pt-20;
  }
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Montserrat", sans-serif;
}

.fancy-link {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size cubic-bezier(0,.5,0,1) 0.3s;
  
}

.fancy-link:hover,
.fancy-link:focus {
  text-decoration: none;
  background-size: 100% 2px;
}